<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="sidebar bg-light text-dark" id="sidebar">
    <div class="list-group list-group-flush">
      <a href="/dashboard/cost-manager" class="list-group-item list-group-item-action text-dark">Cost Manager</a>
      <a href="/dashboard/report" class="list-group-item list-group-item-action text-dark">Report</a>
      <a href="/finance" class="list-group-item list-group-item-action text-dark">Finance</a>
    </div>
  </div>

  <!-- Page Content -->
  <div id="page-content-wrapper" class="flex-fill">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>



